<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title></title>

    <link rel="canonical" href="/">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/album.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About Me</h4>
              <p class="text-muted">Hello, I am Muhammed Batuhan Aydın, I am working as a Senior cyber security analyst. Advancing myself and my team are among my greatest goals in life.
                The software is one of the most useful in the world, and that's why he spends a lot of time on it. Some engineers are born to improve. To protect people like me. I am an engineer who constantly renews himself to become one of the guardians of our future.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://twitter.com/Telumak" class="text-white">Follow on Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/batuhan-aydinn/" class="text-white">Follow on Linkedlin</a></li>
                <li><a href="https://github.com/Batuhanaydn" class="text-white">Follow on Github</a></li>
                <li><a href="mailto:muhammed.aydin@owasp.org" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Conventer</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Converter Like</h1>
          <p class="lead text-muted">This is a github project. Converts decimal numbers from 2 to 8 to 16 and any base</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Github Repos</a>
            <a href="#" class="btn btn-secondary my-2">My Github Profile</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Binary.png" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Base 2 conversion</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/binary"><button type="button" class="btn btn-sm btn-outline-secondary">Use</button></a>
                    </div>
                    <small class="text-muted">Binary</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Octal.png" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Base 8 conversion</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/octal"><button type="button" class="btn btn-sm btn-outline-secondary">Use</button></a>
                    </div>
                    <small class="text-muted">Octal</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Hex.png" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Base 16 conversion</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/hex"><button type="button" class="btn btn-sm btn-outline-secondary">Use</button></a>
                    </div>
                    <small class="text-muted">Hexedecimal</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/CustomBase.png" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Custom conversion</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="/CustomBase"><button type="button" class="btn btn-sm btn-outline-secondary">Use</button></a>
                    </div>
                    <small class="text-muted">Custom Base</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <!-- <a href="#">Back to top</a> -->
        </p>
        <p>This template belongs to &copy; Bootstrap.  It has been rearranged.</p>
        <p>Want to check out my other repos? <a href="https://github.com/Batuhanaydn">Visit the my github repos</a> or See my linkedlin profile for info <a href="https://www.linkedin.com/in/batuhan-aydinn/">about me</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/holder.min.js"></script>
  </body>

</html>
